<div class="card-top container-fluid">
    <div class="container d-flex">

        <div class="item">
            <a >
                <img src="https://get.pxhere.com/photo/backdrop-background-blank-browsing-business-cellphone-cellular-communication-create-design-desktop-device-digital-display-empty-finger-gadget-graphic-hands-holding-insert-internet-iphone-looking-messaging-mobile-mock-mockup-modern-networking-online-phone-screen-show-showing-smart-smartphone-social-space-technology-telephone-template-touch-ui-using-web-white-woman-communication-device-mobile-phone-electronic-device-portable-communications-device-hand-feature-phone-mobile-device-Material-property-electronics-multimedia-gesture-display-device-nail-1601898.jpg" alt="">
                <h6>all product</h6>
            </a>
        </div>

        <div class="item">
            <a >
                <img src="https://get.pxhere.com/photo/backdrop-background-blank-browsing-business-cellphone-cellular-communication-create-design-desktop-device-digital-display-empty-finger-gadget-graphic-hands-holding-insert-internet-iphone-looking-messaging-mobile-mock-mockup-modern-networking-online-phone-screen-show-showing-smart-smartphone-social-space-technology-telephone-template-touch-ui-using-web-white-woman-communication-device-mobile-phone-electronic-device-portable-communications-device-hand-feature-phone-mobile-device-Material-property-electronics-multimedia-gesture-display-device-nail-1601898.jpg" alt="">
                <h6> electronics</h6>
            </a>
        </div>

        <div class="item">
            <a >
                <img src="https://get.pxhere.com/photo/backdrop-background-blank-browsing-business-cellphone-cellular-communication-create-design-desktop-device-digital-display-empty-finger-gadget-graphic-hands-holding-insert-internet-iphone-looking-messaging-mobile-mock-mockup-modern-networking-online-phone-screen-show-showing-smart-smartphone-social-space-technology-telephone-template-touch-ui-using-web-white-woman-communication-device-mobile-phone-electronic-device-portable-communications-device-hand-feature-phone-mobile-device-Material-property-electronics-multimedia-gesture-display-device-nail-1601898.jpg" alt="">
                <h6>fashion</h6>
            </a>
        </div>

        <div class="item">
            <a >
                <img src="https://get.pxhere.com/photo/backdrop-background-blank-browsing-business-cellphone-cellular-communication-create-design-desktop-device-digital-display-empty-finger-gadget-graphic-hands-holding-insert-internet-iphone-looking-messaging-mobile-mock-mockup-modern-networking-online-phone-screen-show-showing-smart-smartphone-social-space-technology-telephone-template-touch-ui-using-web-white-woman-communication-device-mobile-phone-electronic-device-portable-communications-device-hand-feature-phone-mobile-device-Material-property-electronics-multimedia-gesture-display-device-nail-1601898.jpg" alt="">
                <h6>jewellary</h6>
            </a>
        </div>

        <div class="item">
            <a >
                <img src="https://get.pxhere.com/photo/backdrop-background-blank-browsing-business-cellphone-cellular-communication-create-design-desktop-device-digital-display-empty-finger-gadget-graphic-hands-holding-insert-internet-iphone-looking-messaging-mobile-mock-mockup-modern-networking-online-phone-screen-show-showing-smart-smartphone-social-space-technology-telephone-template-touch-ui-using-web-white-woman-communication-device-mobile-phone-electronic-device-portable-communications-device-hand-feature-phone-mobile-device-Material-property-electronics-multimedia-gesture-display-device-nail-1601898.jpg" alt="">
                <h6>all product</h6>
            </a>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
    <ng-container *ngFor="let item of productList">
        <div class="card col-md-3">
            <img src="{{item.image}}" alt="">
            <h5 style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; max-width:100ch">{{item.title}}</h5>
            <p style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; max-width:100ch">{{item.description}}</p>
            <p><strong>price</strong> $ {{item.price}}</p>
            <button class="btn btn-primary" (click)="addToCart(item)">add to cart</button>
        </div>
    </ng-container>
    </div>
</div>